.default-transition {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
body {
  font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
  -webkit-text-size-adjust: none;
  background: #ffffff;
  color: #333333;
}
b,
strong {
  color: #222;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #be161c;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #be161c;
}
/* LAYOUT CSS */
#layout {
  padding-left: 25%;
  /* "left col (nav + list)" width */

  position: relative;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  background: url("http://ww4.sinaimg.cn/mw690/677c3ca0gw1ecttlxj9fvj20dc0rsab0.jpg") #454545;
  background-position: center;
  backgroud-size: cover;
  border-right: 1px solid #ddd;
  text-align: center;
  overflow: hidden;
}
.sidebar #avatar {
  margin: 40px auto;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 110px;
  background: #fff;
  display: inline-block;
  box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.15);
}
.sidebar #avatar img.logo {
  margin: 5px auto;
  position: relative;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.sidebar h1 {
  margin: 0 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
}
.sidebar .nav {
  display: inline-block;
  list-style: none;
  margin: 20px  25px 0 25px;
  padding: 0;
}
.sidebar .nav li {
  float: left;
  margin: 7px;
}
.sidebar .nav li a {
  border-radius: 5px;
  font-size: 12px;
  font-family: Arial;
  color: #fff;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar .nav li a:hover,
.sidebar .nav li a.selected {
  text-decoration: none;
  background-color: #be161c;
  color: #fff;
}
.sidebar .my-socials {
  display: inline-block;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 20px;
}
.sidebar .my-socials li {
  float: left;
  width: 44px;
  margin: 10px;
}
.sidebar .my-socials li .zhihu {
  background: url("http://langqixu.com/template/images/ic_zhihu.png") center no-repeat #0077d9;
}
.sidebar .my-socials li .douban {
  background: url("http://langqixu.com/template/images/ic_douban.png") center no-repeat #4e8b34;
}
.sidebar .my-socials li .weibo {
  background-color: #D46148;
}
.sidebar .my-socials li .tumblr {
  background-color: #365471;
}
.sidebar .my-socials li .linked-in {
  background-color: #2086bc;
}
.sidebar .my-socials li .twitter {
  background-color: #00b6f3;
}
.sidebar .my-socials li .quora {
  background-color: #c21d11;
}
.sidebar .my-socials li .pinterest {
  background-color: #cb2027;
}
.sidebar .my-socials li .google-plus {
  background-color: #cf4231;
}
.sidebar .my-socials li .flickr {
  background-color: #ff0084;
}
.sidebar .my-socials li .instagram {
  background-color: #723f2d;
}
.sidebar .my-socials li .github {
  background-color: #333333;
}
.sidebar .my-socials li a {
  background: indianred;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  color: #fff;
}
.sidebar .my-socials li a:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.15);
  box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.15);
}
.sidebar .my-socials li a i {
  font-size: 22px;
  line-height: 44px;
}
.sidebar .search-bar {
  position: absolute;
  bottom: 10px;
  width: 100%;
  opacity: 0.3;
}
.sidebar .search-bar:hover {
  opacity: 1;
}
.sidebar .search-bar input {
  font-size: 12px;
  padding: 5px;
}
.sidebar .search-bar a {
  padding: 5px;
}
.sidebar .search-bar a:hover {
  text-decoration: none;
  color: #fff;
  background: #be161c;
}
#main {
  padding: 0 16em 0em 4em;
  /* for archive and tags*/

  /* for categories*/

}
#main .list_with_title {
  padding: 0;
  margin: 35px auto 0 auto;
  font-size: 16px;
}
#main .list_with_title li {
  list-style-type: none;
  padding: 0;
}
#main .list_with_title .listing_title {
  font-weight: bold;
  line-height: 2.2em;
  font-size: 1.4em;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#main .list_with_title .listing {
  margin: 0 0 50px 0;
  padding: 0;
}
#main .list_with_title .listing li {
  line-height: 2.9em;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0 5px;
  text-align: left;
  font-weight: normal;
  *font-size: 16px;
}
#main .list_with_title .date {
  position: absolute;
  right: 5px;
  color: #999999;
  font-size: 14px;
}
#main .posts,
#main .detail-post {
  margin: 45px auto;
}
#main .detail-post .post {
  margin-bottom: 3em;
}
#main .post {
  line-height: 1.9;
  margin-bottom: 6em;
  font-size: 14px;
}
@media screen and (min-width: 480px) {
  #main .post {
    font-size: 16px;
  }
  #main .post .title {
    font-size: 2em;
  }
}
#main .post p {
  margin-bottom: 0.6em;
}
#main .post h1,
#main .post h2 {
  font-weight: 400;
  line-height: 1.25;
}
#main .post .post_body h2 {
  margin: 1.6em 0 0.83em 0;
}
#main .post .post_body h3,
#main .post .post_body h4 {
  margin: 1.2em 0 0.53em 0;
}
#main .post .info {
  font-family: 'Arial';
  color: #666666;
  font-size: 0.7em;
  position: relative;
  text-align: right;
  margin-top: 30px;
  line-height: 2em;
}
#main .post .info a {
  font-size: 0.9em;
  padding: 2px;
  margin-right: 5px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
#main .post .info a:hover {
  color: white;
  text-decoration: none;
  background: #be161c;
}
#main .post .info a:hover i {
  color: #fff;
}
#main .post .info span {
  margin-right: 20px;
}
#main .post .info .tags {
  display: inline-block;
  margin: 0 10px 0 0;
}
#main .post .info .read_more {
  margin-left: 10px;
}
#main .post .info .other_posts {
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
  display: block;
  height: 25px;
}
#main .post .info .other_posts .pre {
  position: absolute;
  left: 0;
  padding: 0 5px;
}
#main .post .info .other_posts .next {
  position: absolute;
  right: 0;
  padding: 0 5px;
}
#main #categories {
  list-style-type: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  clear: both;
  padding: 0;
  margin-top: 50px;
}
#main #categories a {
  text-decoration: none;
}
#main #categories li {
  float: left;
  position: relative;
}
#main #categories li h3 {
  font-size: 1.3em;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: normal;
}
#main #categories li span {
  color: #999;
  font-size: 0.8em;
}
#main #categories li a {
  margin: 20px;
  width: 220px;
  float: left;
  height: 300px;
  background: #fff;
  border: 1px solid #c8c8c8;
  padding: 60px 30px;
}
#main #categories li a:hover {
  border: 1px solid #b7b7b7;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
#main #categories li a:hover h3 {
  padding-left: 2px;
}
hr {
  margin: 2.2em 0;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #f9f9f9;
}
#fb_new_comment input {
  font-size: 12px;
}
.toc {
  line-height: 1.7;
  border: 1px solid #eee;
}
.toc li ul {
  margin: 0.45em 0;
}
.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }
  .sidebar h1 {
    top: auto;
    position: static;
  }
  .sidebar .nav {
    margin: 20px 80px 50px 80px;
  }
  .sidebar .my-socials {
    display: none;
  }
  #layout {
    padding: 0;
  }
  #main {
    padding: 0 2.5em;
  }
}
@media (max-width: 480px) {
  #main {
    padding: 0 1em;
  }
}
.clear {
  clear: both;
  width: 0;
  height: 0;
}
/*footer starts*/
#footer {
  margin: 80px 0 30px 0;
  text-align: center;
  font-size: 12px;
  height: 1.2em;
  font-family: Arial;
  color: #ccc;
  padding: 0 16em 0em 4em;
  overflow: hidden;
}
#footer a {
  color: #ccc;
  margin: 0 10px;
}
#footer a:hover {
  text-decoration: none;
  color: #be161c;
}
#footer a.admin {
  color: darkred;
  font-weight: bold;
}
#footer .powered_by {
  margin-bottom: 20px;
  text-align: center;
}
#footer .powered_by span {
  font-size: 12px;
  padding: 0px;
}
.round {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
}
/* paginator */
.pager {
  position: relative;
  height: 57px;
  margin: 50px 0 0 0;
}
.pager a {
  height: 57px;
  width: 57px;
  line-height: 57px;
  color: #333;
  letter-spacing: 1px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #d3d3d3;
}
.pager a:hover {
  color: #fff;
  background: #be161c;
}
.pager .next {
  position: absolute;
  right: 0;
}
.pager .pre {
  position: absolute;
  left: 0;
}
